:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 20px;
  }

}
.mat-expansion-panel-header{
  background-color: #1b904d;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #157b18;
  border-radius: 0px;
  padding: 0px;
  height: 35px !important;
  border-left: solid #01632a;
  color:white;
  box-shadow: none;
}

/*mat-expansion-panel-header {
  background-color: #1b904d;
  height: 35px !important;
  border-radius: 0px !important;
  }*/
  .mat-expansion-panel-header-title {
    color:white
  }

mat-expansion-panel-header:hover {
    background-color: #1b904d !important;
    color:white;
}

mat-expansion-panel-header:focus {
  background-color: #1b904d !important;
}

mat-expansion-panel-header.expanded {
  background-color: #27AE60;
  }
  .mat-expansion-panel
  {
    background-color: #27AE60;  
    letter-spacing: 0.1px;
  }
  .mat-list-item:hover
  {
    color:white;
  }

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover {
background-color: #1b904d !important;
color:white;
}

.mat-list-item-content
{
justify-content: center;  
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
height: 35px !important;
}
.mat-list-base {
padding: 0px !important;
width: 190px;
}

* {
text-transform: uppercase; 
font-size: 11.52px !important;
letter-spacing: 0.1px;
word-wrap: break-word;
}