
.login-wrapper {
    height: 100%;
    padding-right: 2rem;
    // background: radial-gradient(circle,rgba(0,0,0,0) 1%,rgba(0,0,0,.7371323529411764) 63%,rgba(0,0,0,.7483368347338936) 100%);
  }
.main{
  height: 100%;
  width: 100%;
  // background-color: #6127ae
  background-color: #27AE60;
  background-image: url("../../../../assets/images/login-bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
}  
.positronx {
    text-decoration: none;
    color: #ffffff;
}

.box {
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    padding: 20px 50px 40px 50px;
    width: 100%;
    background: #fff;
    // border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    max-width: 300px;
  }
  
.box.back {
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    top: -20px;
    opacity: .8;
    z-index: -1;
  }
  
.box:before {
    content: "";
    width: 100%;
    height: 30px;
    // border-radius: 10px;
    position: absolute;
    top: -10px;
    background: rgba(255, 255, 255, .6);
    left: 0;
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    z-index: -1;
  }
  
.login-wrapper .login-form {
    min-width: 100%;
    max-width: 300px;
    width: 100%;
    padding-top: 10px;
  }
  
.login-wrapper .login-full-width,
  .login-wrapper .btn-block {
    width: 100%;
  }
  
.login-wrapper mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
  }
  
.login-wrapper mat-card-header mat-card-title {
    font-size: 30px;
    margin: 0;
  }
// .login-wrapper .mat-card {
//     padding: 40px 70px 50px;
//   }
  
.login-wrapper .mat-stroked-button {
    border: 1px solid currentColor;
    // line-height: 54px;
    background: #FFF7FA;

    width: 150px;
    height: 40px;
    margin-left: 27px;
  }
  
.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.8375em 0;
  }

.login-logo{
    width: 100px;
    height: 35px;
    margin-left: -12%;
    //border-radius: 100%;
}

.text-style{
  text-transform: uppercase;
  font-size: 11.52px;
}

.footerCopyright {
  height: 20px;
  width: 100%;
  background-color: #000;
  color: #696363;
  position: absolute;
  bottom: 0;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}