<h2 mat-dialog-title class="title-style">Select Branch</h2>
<mat-dialog-content>
  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <input class="form-control" 
        placeholder="SEARCH" 
        (keyup)="applyFilter($event.target.value)">
      </div>
  </div>
  <hr class="divider">
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0">
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef mat-sort-header><b>Select</b>
      </mat-header-cell>
      <mat-cell data-label="Select" *matCellDef="let row">
          <mat-radio-button (click)="$event.stopPropagation()"
          (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)"
          ></mat-radio-button>
      </mat-cell>
    </ng-container>

    <!-- Branch Code Column -->
    <ng-container matColumnDef="branchCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header><b>Branch Code</b></mat-header-cell>
      <mat-cell data-label="Branch Name" *matCellDef="let row">{{ row.branchCode }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="selection.selected" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
