//for each field
.form-control {
  text-transform: uppercase;
  width: 100%;
  box-shadow: 0px 0.1rem 0.2rem #00000029;
  border: 0.05rem solid #6A6868;
  border-radius: 0px;
  height: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11.52px;
  text-transform: uppercase;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

 //horizontal divider
 hr.divider { 
  margin-top: 0px;
  margin-bottom: 4px;
}

.title-style{
  margin:0px;
  font-family: "Open Sans", sans-serif;
}

.mat-header-row{
min-height: 40px;
}

.no-padding{
  ::ng-deep  .mat-form-field-wrapper {
    padding-bottom: 0px !important;
}
}

.mat-cell:first-of-type{
  padding-left:15px;
}
.mat-header-cell:first-of-type{
    padding-left:15px;
  }

.mat-cell, .mat-footer-cell {
  padding-right: 15px !important;
} //to be changed for this.

.mat-paginator{
  display: unset;
}

.mat-header-cell{
    display: flex;  
    justify-content: left;
    background-color: #f3f3f3;
    min-height: 40px;
}

.mat-header-row{
  min-height: 25px;
}

.mat-cell{
  display: flex;  
  justify-content: left; 
}

//for date field.
.no-padding{
  ::ng-deep  .mat-form-field-wrapper {
    padding-bottom: 0px !important;
    font-size: 11.52px;
    justify-content: left;
}
}

//radio buttons
.mat-radio-button{
  margin-top: 5px;
  }
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:#27AE60 !important;
  }
  
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
   background-color: #27AE60 !important;
  }
  
  ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color:#27AE60 !important;
  }

  //select
.mat-column-select{
  flex: 0 0 50%;
}
//select
.mat-cell.mat-column-select{
  min-width: 3% !important;
  font-size: 11.52px !important;
}

.mat-header-cell.mat-column-select{
  min-width: 3% !important;
  font-size: 11.52px !important;
}

.mat-cell.mat-column-branchName{
  min-width: 5% !important;
  font-size: 11.52px !important;
}

.mat-header-cell.mat-column-branchName{
  min-width: 5% !important;
  font-size: 11.52px !important;
}

// for small screen
@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
    font-weight: bold;
    min-height:30px;
    font-size: 11.52px !important;
  }

  .mat-cell:first-of-type{
    padding-left:0px;
  }
  .mat-table .mat-cell:before {

    content: attr(data-label);
    float: left;
    text-transform:inherit;
    font-weight: normal;
    font-size: 11.52px !important;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
    .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
}
  
