// excel label
.excel-label{
    padding-left: 3px;
    padding-bottom: 0px;
    color: #27AE60;
    font-size: 11.52px;
}
.excel-img{
    cursor:pointer;
}
//for expansion panel 
mat-expansion-panel-header:hover {
    background-color: white !important;
  }
   
//to remove the bootstrap left padding.
.contol-label{
  padding-left: 0px;
}

//for subheadings.
.mat-content-label {
  padding-top: 14px;
  font-weight: bold;
  font-size: 11.52px;
}  
.mat-expansion-panel-header{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: grey;
    border-radius: 0px;
    padding: 0px;
    
  }
  
.mat-expansion-panel-header.mat-expanded{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color:  #27AE60;
    border-radius: 0px;
    color: #27AE60;;
  }
  
hr.divider { 
  margin-top: 0px;
  margin-bottom: 5px;
  }
  
.no-padding{
    ::ng-deep  .mat-form-field-wrapper {
      padding-bottom: 0px !important;
  }
  }
  
  //for date field.
.no-padding{
    ::ng-deep  .mat-form-field-wrapper {
      padding-bottom: 0px !important;
      font-size: 11.52px;
      justify-content: center;
  }
  }
  

  .mat-cell:first-of-type{
    padding-left:10px;
    }
    .mat-header-cell:first-of-type{
      padding-left:10px;
    }
    
    .mat-cell, .mat-footer-cell {
    padding-right: 10px !important;
    } //to be changed for this.
    
    .mat-paginator{
    display: unset;
    }
    
  .mat-header-cell{
      display: flex;  
      justify-content: left;
      background-color: #f3f3f3;
      min-height: 40px;
    }
    
  .mat-header-row{
    min-height: 25px;
    }
    
  .mat-cell{
    display: flex;  
    justify-content: left; 
    }  

  // set table values
.mat-cell.mat-column-documentNumber{
    min-width: 10% !important;
    font-size: 11.52px !important;
  }
  
.mat-header-cell.mat-column-documentNumber{
    min-width: 10% !important;
    font-size: 11.52px !important;
  }
  
.mat-cell.mat-column-documentType{
    min-width: 10% !important;
    font-size: 11.52px !important;
  }
  
.mat-header-cell.mat-column-documentType{
    min-width: 10% !important;
    font-size: 11.52px !important;
  }
.mat-cell.mat-column-writeOffReason{
    min-width: 10% !important;
    font-size: 11.52px !important;
  }
  
.mat-header-cell.mat-column-writeOffReason{
    min-width: 10% !important;
    font-size: 11.52px !important;
  }
.mat-cell.mat-column-writeOffAmt{
    min-width: 10% !important;
    font-size: 11.52px !important;
  }
  
.mat-header-cell.mat-column-writeOffAmt{
    min-width: 10% !important;
    font-size: 11.52px !important;
  }

  .mat-cell.mat-column-outStandingAmt{
    min-width: 10% !important;
    font-size: 11.52px !important;
  }
  
.mat-header-cell.mat-column-outStandingAmt{
    min-width: 10% !important;
    font-size: 11.52px !important;
  }  
.mat-cell.mat-column-remarks{
    min-width: 12% !important;
    font-size: 11.52px !important;
  }
  
.mat-header-cell.mat-column-remarks{
    min-width: 12% !important;
    font-size: 11.52px !important;
  }
.mat-cell.mat-column-status{
    min-width: 10% !important;
    font-size: 11.52px !important;
  }
  
.mat-header-cell.mat-column-status{
    min-width: 10% !important;
    font-size: 11.52px !important;
  }
.mat-cell.mat-column-message{
    min-width: 10% !important;
    font-size: 11.52px !important;
  }
  
.mat-header-cell.mat-column-message{
    min-width: 10% !important;
    font-size: 11.52px !important;
  }
  // for small screen 
  @media screen and (max-width: 960px) {
    .mat-table {
      border: 0;
      vertical-align: middle
    }
  
    .mat-table caption {
      font-size: 1em;
    }    
    
    .mat-table .mat-header-cell {      
      border: 10px solid;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .mat-table .mat-row {
      border-bottom: 5px solid #ddd;
      display: block;
    }
       
    .mat-table .mat-cell {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: right;
      font-weight: bold;
      min-height: 25px;
      font-size: 11.52px;
    }
    .mat-cell:first-of-type{
      padding-left:0px;
    }  
    .mat-table .mat-cell:before {   
      content: attr(data-label);
      float: left;
      text-transform:inherit;
      font-weight: normal;
      font-size: .85em;
    }
    .mat-table .mat-cell:last-child {
      border-bottom: 0;
    }
      .mat-table .mat-cell:first-child {
      margin-top: 4%;
    }
  }

  				
//for tooltip
::ng-deep .custom-tooltip {
	background-color: #27ae60;
	color: #f3f3f3;
}


 mat-cell>span.truncate-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}