:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    background-color:#27AE60;
}

mat-drawer-container{
    height: 100%;
}

.page-content{
    padding-top:40px;
}
.side-nav{
    padding-top: 47px;
}